{% extends 'shop/layouts/main.html'%}
{% block title%}
    ShopKart | Online Shopping
{% endblock title%}


{% block content %}
<section class="bg-light py-4 my-5">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h4 class="mb-3">{{catagory_name}} Products</h4>
                <hr style="border-color: #b8bfc2;">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                      <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
                      <li class="breadcrumb-item active">{{category_name}} Collections</li>
                    </ol>
                  </nav>
            </div>
            {% include 'shop/inc/message.html'%}
            {% for item in products %}
            <div class="col-md-4 col-lg-3">
                <div class="card my-3">
                    <img src="{{item.product_image.url}}" class="card-image-top" alt ="Catagories">
                    <a href="{% url 'product_details' catagory_name item.name %}">
                    <div class="card-body">
                        <h5 class="card-title text-primary">{{item.name}}</h5>
                        <p class="card-text">
                            <span class="float-start old_price"><s>Rs.{{item.original_price | stringformat:'d'}}</s></span>
                            <span class="float-end new_price">Rs.{{item.selling_price | stringformat:'d'}}</span>
                        </p>
                    </div>
                    </a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock content %}